.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  margin: 3px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
  padding: 10px;
}
.navbar .home {
  background-color: rgb(15, 209, 109);
}
.navbar a:hover {
  color: #ff0;
}
.navbar a:last-child {
  margin-right: 0;
  margin-left: auto;
}
